<header>
  <div class="container">
    <div class="top-bar d-flex justify-content-between">
      <div class="logo">
        <img src="/images/kstrong-logo.png" alt="" />
      </div>
      <div class="user-profile">
        <p-menu #menu [model]="userItems" [popup]="true" />
        <button (click)="menu.toggle($event)" class="user-icon d-flex">
          <p-avatar image="/images/avatar.jpeg" class="mr-2" shape="circle" />
          <span class="d-flex flex-col">
            <span class="fw-bold">Derick Midcap</span>
            <span class="text-sm">Manager &nbsp; &nbsp;&nbsp;&nbsp;<i class="pi pi-sort-down-fill"></i></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <div class="container">
      <app-menu />
    </div>
  </div>
</header>