<div class="container-fluid store-page">
  <div class="row">
    <div class="category-menu col-2"><app-breadcrumb /><app-categories /></div>
    <div class="products-list col-10">
      <p-dataview #dv [value]="products" [layout]="layout" [rows]="60" [paginator]="true" [loading]="loading">
        <ng-template #header>
          <div class="d-flex justify-content-between">
            <p-selectbutton [(ngModel)]="layout" [options]="options" [allowEmpty]="false">
              <ng-template #item let-item>
                <i class="pi" [ngClass]="{
                    'pi-bars': item === 'list',
                    'pi-table': item === 'grid'
                  }"></i>
              </ng-template>
            </p-selectbutton>
            <div class="search-sort">
              <div class="global-search">
                <p-iconfield iconPosition="right" class="ml-auto">
                  <p-inputicon>
                    <i class="pi pi-search"></i>
                  </p-inputicon>
                  <input pInputText type="text" [formControl]="inputControl" placeholder="Search Product" />
                </p-iconfield>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template #grid let-items>
          @for(item of items; track item; ) {
          <div class="item-container">
            <app-item [data]="item" [layout]="layout" />
          </div>

          }
        </ng-template>
        <ng-template #list let-items>
          @for(item of items; track item; ) {
          <div class="item-container" [ngClass]="layout">
            <app-item [data]="item" [layout]="layout" />
          </div>

          }
        </ng-template>
      </p-dataview>
    </div>
  </div>
</div>