/* For Mobile (Portrait) */
@media (min-width: 320px) and (max-width: 600px) {
  /* Mobile portrait styles */
  body {
    font-size: 9px;
    .container {
      padding: 0px 10px;
      .row {
        flex-direction: column;
      }
    }
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6 {
      width: 100%;
    }

    .access-page {
      overflow: hidden;
      .access-card {
        position: relative;
        z-index: 1;
      }
      .logo {
        text-align: center;
        img {
          max-width: 215px !important;
        }
      }
      .cover-img {
        position: absolute;
        top: 0;
        z-index: 0;
        opacity: 0.18;
      }
      .card {
        padding: 15px 15px 40px !important;
      }
    }

    header {
      .top-bar {
        .logo {
          img {
            width: 120px !important;
          }
        }
        .user-icon {
          padding: 0 !important;
        }
      }
      .menu-bar {
        .p-menubar-root-list {
          li:first-child {
            a {
              padding-left: 12px !important;
            }
          }
        }
        .p-menubar {
          .p-menubar-item-link,
          .p-menubar-item-icon {
            color: #212121 !important;
          }
        }
      }
    }

    .p-datatable {
      .datagrid-header {
        flex-direction: column;
      }
    }

    .store-page {
      .products-list {
        padding-left: 0 !important;
        width: 100%;
      }
      .p-dataview {
        .p-dataview-content {
          .item-container {
            width: 115px !important;
            .product-card {
              .product-image {
                height: auto !important;
              }
              .product-detail {
                .p-button-label {
                  font-size: 7px;
                }
                .p-button-sm {
                  padding: 0px 4px;
                  .p-button-icon {
                    font-size: 9px;
                  }
                }
                .product-number,
                .product-price {
                  font-size: 7px;
                }
              }
            }
          }
        }
      }
    }
    .category-sidebar {
      display: none;
    }
  }
}

/* For Mobile (Landscape) */
@media (min-width: 601px) and (max-width: 767px) {
  /* Mobile landscape styles */
}

/* For Tablets (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Tablet portrait styles */
}

/* For Tablets (Landscape) */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Tablet landscape styles */
}

/* For Small Laptops / Small Desktops */
@media (min-width: 1281px) and (max-width: 1440px) {
  /* Small laptop styles */
}

/* For Large Screens / Desktops */
@media (min-width: 1441px) {
  /* Large screen styles */
}
