<div class="access-page">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="access-card">
                    <div class="logo">
                        <img src="/images/kstrong-logo-inverted.png" alt="">
                    </div>
                    form
                    <button-contained />
                </div>
            </div>
            <div class="col-6">
                <div class="cover-img d-flex justify-content-center">
                    <img src="/images/kstrng-landing.jpg" alt="">
                </div>
            </div>
        </div>

    </div>

</div>