<div class="access-page">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="access-card">
          <div class="logo">
            <img src="/images/kstrong-logo-inverted.png" alt="" />
          </div>
          <div class="card">
            <h2>KStrong Partner Order System</h2>
            <app-login />
          </div>
          <p>
            Use of this site is limited to KStrong employees and their trade
            partners. For questions about this site or how to become a KStrong
            partner, please contact us by calling 833-578-7664.
          </p>
        </div>
      </div>
      <div class="col-6">
        <div class="line"></div>
        <div class="cover-img d-flex justify-content-center">
          <img src="/images/kstrng-landing.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
