<p-table
  #dt2
  class="page-datagrid"
  [id]="tableData.identifier"
  [columns]="tableData.columns"
  [value]="tableData.dataSource"
  dataKey="partNumber"
  [rows]="50"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="true"
  [scrollable]="true"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  size="small"
  showGridlines
  stripedRows
  [exportHeader]="'customExportHeader'"
  [globalFilterFields]="['partNumber', 'name', 'total', 'asOf']"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template #caption>
    <div class="d-flex justify-content-between">
      <h1>Inventory</h1>
      <!-- <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input
                    pInputText
                    type="text"
                    (input)="dt2.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search keyword"
                />
            </p-iconfield> -->
      <div class="text-end pb-4">
        <p-button
          icon="pi pi-external-link"
          label="Export"
          (click)="dt2.exportCSV()"
        />
      </div>
    </div>
  </ng-template>
  <ng-template #header let-columns>
    <tr>
      @for(col of columns; track col) {
      <th pSortableColumn="{{ col.field }}">
        {{ col.header }} <p-sortIcon field="{{ col.field }}" />
      </th>
      }
    </tr>
    <tr>
      @for(col of columns; track col) {
      <th>
        <p-columnFilter
          type="text"
          field="{{ col.field }}"
          placeholder="Search by {{ col.header }}"
          ariaLabel="Filter {{ col.header }}"
        ></p-columnFilter>
      </th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-data>
    <tr>
      <td>
        {{ data.partNumber }}
      </td>
      <td>
        <div class="flex items-center gap-2">
          <!-- <img
            src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
            [class]="'flag flag-' + data.country.code"
            style="width: 20px"
          /> -->
          <span>{{ data.name }}</span>
        </div>
      </td>
      <td>
        <div class="flex items-center gap-2">
          <!-- <img
            [alt]="customer.representative.name"
            src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{
              customer.representative.image
            }}"
            width="32"
            style="vertical-align: middle"
          /> -->
          <span>{{ data.total }}</span>
        </div>
      </td>
      <td>{{ data.asOf }}</td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">No customers found.</td>
    </tr>
  </ng-template>
</p-table>
