<p-table
  #dt2
  class="page-datagrid"
  [id]="tableData.identifier"
  [columns]="tableData.config.columns"
  [value]="tableData.dataSource"
  [dataKey]="tableData.config.keyExpr"
  [rows]="50"
  [rowsPerPageOptions]="[10, 25, 50]"
  [loading]="loading"
  [paginator]="tableData.config.datagridFeatures.paginator"
  [scrollable]="true"
  [responsive]="true"
  [showCurrentPageReport]="
    tableData.config.datagridFeatures.showCurrentPageReport
  "
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  size="small"
  showGridlines
  stripedRows
  [exportHeader]="'customExportHeader'"
  [globalFilterFields]="tableData.config.globalFilterFields"
  [tableStyle]="{ 'min-width': '75rem' }"
>
  <ng-template #caption>
    <div class="datagrid-header d-flex justify-content-between">
      <h1>{{ tableData.config.caption }}</h1>

      <div class="d-flex align-items-center">
        @if(tableData.config.datagridFeatures.addNewEnabled){
        <p-button
          class="add-new-item"
          severity="primary"
          icon="pi pi-plus"
          label="Add New {{ tableData.config.caption }}"
          size="small"
          (onClick)="dialogVisible = true"
        />
        } @if(tableData.config.datagridFeatures.exportEnabled){
        <p-button
          severity="success"
          icon="pi pi-download"
          label="Export"
          size="small"
          (click)="dt2.exportCSV()"
        />
        } @if(tableData.config.datagridFeatures.searchEnabled){
        <div class="global-search">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              [(ngModel)]="globalQuery"
              (input)="dt2.filterGlobal(globalQuery, 'contains')"
              placeholder="Search keyword"
            />
          </p-iconfield>
        </div>
        }
      </div>
    </div>
  </ng-template>
  <ng-template #header let-columns>
    <tr>
      @for(col of columns; track col) {
      @if(tableData.config.datagridFeatures.sortEnabled){
      <th pSortableColumn="{{ col.field }}">
        {{ col.header }} <p-sortIcon field="{{ col.field }}" />
      </th>
      }@else {
      <th>
        {{ col.header }}
      </th>
      } }
    </tr>
  </ng-template>
  <ng-template #body let-data let-expanded="expanded">
    <tr>
      @for(cell of tableData.config.columns; track cell){
      <td>
        @if(cell.cellTemplate) { @if(cell.cellTemplate === 'inventoryTemplate'){
        @if(!data.total){
        <p-badge
          value="!"
          badgeSize="small"
          severity="contrast"
          pTooltip="Call 833-578-7644 for Availability"
          tooltipPosition="right"
        />
        }@else {
        <a href="#" class="expand-row" [pRowToggler]="data">
          <i
            [ngClass]="
              expanded
                ? 'pi pi-fw pi-chevron-down'
                : 'pi pi-fw pi-chevron-right'
            "
          ></i>
        </a>
        <span [ngClass]="{ active: expanded }">{{ data.total }}</span>
        } } }@else {
        {{ data[cell.field] }}
        }
      </td>
      }
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="5">No customers found.</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="expandedrow" let-data>
    <tr class="expanded">
      <td [attr.colspan]="tableData.config.columns.length + 1">
        <div class="expanded-body">
          <app-datagrid [tableData]="getInnerTableData(data)"></app-datagrid>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- <p-button
  label="Show"
  icon="pi pi-external-link"
  (onClick)="dialogVisible = true"
/> -->
<p-dialog
  [(visible)]="dialogVisible"
  header="Flex Scroll"
  [style]="{ width: '40vw' }"
  modal
  [contentStyle]="{ height: '300px' }"
>
  <ng-template #content>
    @if(tableData.identifier === 'customersDatagrid'){
    <app-add-customer />
    }
  </ng-template>
  <ng-template #footer>
    <p-button
      severity="secondary"
      label="Cancel"
      (onClick)="dialogVisible = false"
    />
    <p-button label="Save" (onClick)="dialogVisible = false" />
  </ng-template>
</p-dialog>
