/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    overflow: hidden;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col-1 {
    width: 8.33333333%
}

.col-2 {
    width: 16.6666667%
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.3333333%
}

.col-5 {
    width: 41.6666667%
}

.col-6 {
    width: 50%
}

.col-7 {
    width: 58.3333333%
}

.col-8 {
    width: 66.6666667%
}

.col-9 {
    width: 75%
}

.col-10 {
    width: 83.3333333%
}

.col-11 {
    width: 91.6666667%
}

.col-12 {
    width: 100%
}

.absolute {
    position: absolute;
}

img {
    height: 100%;
}

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}