.product-card {
  .product-image {
    position: relative;
    height: auto;

    img {
      width: 100%;
    }

    ::ng-deep .p-skeleton {
      position: absolute !important;
      top: 0;
      height: 100% !important;
    }
  }

  .product-category {
    font-size: 11px;
    color: #757575;
  }

  ::ng-deep .product-detail {
    padding: 8px 6px;
    min-height: 140px;
    .p-button-label {
      font-size: 12px;
      font-weight: 400;
    }

    .p-button-sm {
      padding: 3px 5px;
    }

    .product-number {
      font-weight: 600;
    }
  }
}
